  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
        <br>
        <h3 style="text-align: center">基礎講座一覧</h3><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('grammer.png', :class => "img-responsive"), grammer_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('reading.png', :class => "img-responsive"), reading_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('japanese.png', :class => "img-responsive"), japanese_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('6hour_koten.png', :class => "img-responsive"), kobun_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('sugaku1a.png', :class => "img-responsive"), mathematics_1a_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('sugaku2b.png', :class => "img-responsive"), mathematics_2b_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('sugaku3.png', :class => "img-responsive"), mathematics_3_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('buturi.png', :class => "img-responsive"), physis_path %>
          <hr />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="preview-wrapper">
          <%= link_to image_tag('kagaku.png', :class => "img-responsive"), chemistry_path %>
          <hr />
        </div>
      </div>
    </div>
  </div>
