
<div class="page-header align: center">
    <h1>
        <%= @user.name %>さんのプロフィール
    </h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            氏名
        </div>
        <div class="panel-body">
            <%= @user.name %>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Email
        </div>
        <div class="panel-body">
            <%= @user.email %>
        </div>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            生年月日
        </div>
        <div class="panel-body">
            <%=   %>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            校舎
        </div>
        <div class="panel-body">
            <%= @user.classroom %>
        </div>
    </div>
     <div class="panel panel-primary">
        <div class="panel-heading">
            高校
        </div>
        <div class="panel-body">
            <%= @user.school %>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            コンサルタント
        </div>
        <div class="panel-body">
            <%= @user.consultant %>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            コンサルティング日
        </div>
        <div class="panel-body">
            <%= @user.consulting_day %>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            appear_in
        </div>
        <div class="panel-body">
            <%= @user.appear_in %>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            created_at
        </div>
        <div class="panel-body">
            <%= @user.created_at %>
        </div>
    </div>
   