<h1>予約情報登録</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@reservation) do |f| %>
        
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.label :reception_date, "予約日" %>
          <%= raw sprintf(f.date_select(:reception_date,
                  use_month_numbers: true,
                  default:           Date.today,
                  date_separator:    '%s'), # 年月日区切りをそれぞれ指定
              '年 ', '月 ') + '日'%>&nbsp;&nbsp;&nbsp;
　　　　　
          <%= f.label :recept, "予約時間" %>
          <% options = ["19時00分", "19時15分", "19時30分", "19時45分", "20時00分", "20時15分", "20時30分", "20時45分", "21時00分", "21時15分", "21時30分", "21時45分", "22時00分", "22時15分", "22時30分", "22時45分"] %>
          <%= f.select :recept, options, class: 'form-control' %><br><br>
          
          <%= f.label :subject, "科目" %>
          <% options = ["英語", "現代文", "古文", "数学"] %>
          <%= f.select :subject, options, class: 'form-control' %>&nbsp;&nbsp;&nbsp;
          
          <%= f.label :question_type, "質問区分" %>
          <% options = ["授業", "参考書", "過去問"] %>
          <%= f.select :question_type, options, class: 'form-control' %><br><br>
          
          <%= f.label :question_image, "画像添付" %>
          <%= f.file_field :question_image, class: 'form-control' %>
          <%= f.hidden_field :question_image_cache %>

          <%= f.label :content, "質問内容" %>
          <%= f.text_area :content, :placeholder => "どこがわからなくて、何を教えて欲しいのか、具体的に説明してください。", class: 'form-control' %>
          
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :situation, :value => "未対応" %>

          <%= f.submit "新規予約作成", class: "btn btn-large btn-primary" %>
          
        <% end %>
          
    </div>
</div>
