<h1>教務レポート編集</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@report) do |f| %>
        
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.label :state, "状態" %>
          <% options = ["新規報告", "方針検討中", "解決"] %>
          <%= f.select :state, options, class: 'form-control' %>&nbsp;&nbsp;&nbsp;&nbsp;
          
          <%= f.label :date, "対応日" %>
          <%= raw sprintf(f.date_select(:date,
                  use_month_numbers: true,
                  default:           Date.today,
                  date_separator:    '%s'), # 年月日区切りをそれぞれ指定
              '年 ', '月 ') + '日'%>&nbsp;&nbsp;&nbsp;
　　　　　
          <%= f.label :situation, "シチュエーション" %>
          <% options = ["反転授業", "ライブ授業", "web質問対応", "その他の会話"] %>
          <%= f.select :situation, options, class: 'form-control' %>&nbsp;&nbsp;
          
          <%= f.label :subject, "科目" %>
          <% options = ["英語", "現代文", "古文", "数学", "社会", "理科"] %>
          <%= f.select :subject, options, class: 'form-control' %><br><br>
          
          <%= f.label :user_id, "生徒ID" %>
          <%= f.number_field :user_id, class: 'form-control' %>
          
          <%= f.label :reeport, "レポート" %>
          <%= f.text_area :reeport, :placeholder => "講師の目から見てコンサルタントに伝えて置くべきことを記入しましょう。", class: 'form-control' %>
          
          <%= f.label :answer_report, "解決案" %>
          <%= f.text_area :answer_report, :placeholder => "講師やリーダーと話しあって、決めた方針を担当コンサルタントが記入します。", class: 'form-control' %>
          
          <%= f.submit "教務レポート編集", class: "btn btn-large btn-primary" %>
          
        <% end %>
          
    </div>
</div>
